/* Header.css */

header {
    background-color: #22313f; /* Contrasting color for the header */
    color: #ecf0f1; /* Text color for the header */
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Adjust the alignment as needed */
    align-items: center;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}

.sidebar-toggle {
    /* Add styles for the sidebar open/close icon */
    cursor: pointer;
    color: #ecf0f1; /* Icon color */
}

.navigation-links a {
    color: #ecf0f1; /* Link color */
    text-decoration: none;
    margin-right: 20px; /* Adjust spacing between links */
}

.navigation-links a:hover {
    color: #3498db; /* Hover color for links */
}

.search-bar {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 350px;
    height: 25px;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 5px;
}

.search-bar button {
    background-color: #3498db; /* Search button color */
    color: #ecf0f1; /* Search button icon color */
    width: 60px;
    height: 35px;
    border-radius: 0 20px 20px 0;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #2980b9; /* Darker shade for hover effect */
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    display: flex;
    align-items: center;
    position: relative;
}

.username:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #22313f; /* Dropdown background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu a {
    color: #ecf0f1; /* Dropdown link color */
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #2980b9; /* Darker shade for hover effect */
}
