/* styles.css */

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    margin: 20px 0;
}

.banner {
    position: relative;
    height: 250px;
    width: 70%;
    margin: 10px;
    border-radius: 15px;
    background: url('/public/images/app_images/no\ music.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.banner-slider {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.slide {
    display: none;
}

.slide-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.slide img {
    width: 100%;
}

.subscribe-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--accent-blueish);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.genre-cards {
    width: 30%;
    margin-left: 20px;
}

.genre-cards h2 {
    color: var(--accent-blueish);
}

.genre-card {
    margin-bottom: 10px;
    cursor: pointer;
}

.genre-card img {
    width: 100%;
    border-radius: 5px;
}

.genre-card p {
    margin-top: 5px;
    text-align: center;
}

.home-section {
    padding: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--accent-blueish);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.song-card,
.artist-card,
.playlist-card,
.genre-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #34495e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.song-card img,
.artist-card img,
.playlist-card img,
.genre-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
}

.card-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #bdc3c7;
}

a {
    color: #3498db;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    color: #2980b9;
}
