
body {
    background-color: var(--primary-bg-color);
    color: var(--text-color-light);
    font-family: Arial, sans-serif;
}

.playlist-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.playlist {
    border: 1px solid var(--secondary-bg-color);
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-bg-color);
}

.playlist h3 {
    margin: 0;
    color: var(--accent-blueish);
}

.playlist a {
    display: inline-block;
    background-color: var(--accent-pinkish);
    color: var(--text-color-light);
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

/* Add more specific styles as needed */
